<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myPage/parent/mypage_Declaration.css">
    <link rel="stylesheet" href="/css/layout/header.css">
    <link rel="stylesheet" href="/css/layout/footer.css">
    <title>iDollbom_마이페이지</title>
</head>

<body>
<div id="header" th:replace="~{/layout/header_parents :: header_parents}"></div>

<div class="container">
        <div class="inincontainer">
            <div class="mypage-main">마이페이지 > 신고 목록</div>
            <!-- 사이드바 -->
            <div class="incontainer">
                <div class="menu-bar">
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/kids}">아이정보 추가</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myInformation}">내정보 수정</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <p>신고 목록</p>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_myFavoriteClass.html">수업찜 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_ myPost .html">내가쓴 게시글</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/askPage}">내 문의</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/Review}">내 리뷰</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_Payment copy.html">결제 내역</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myNote}">쪽지함</a>
                    </div>
                    <!-- 프로필 -->
                    <div class="myprofile">
                        <div class="profileimage">
                            <img src="../../images/ff581d78778b7.png" alt="profileImage" class="img">
                        </div>
                        <div class="Nickname">
                            닉네임
                        </div>

                        <div class="buttonbox">
                            <a href="#">
                                <button class="btn-block" type="button">로그아웃</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 신고글 -->
                <div th:if="${not #lists.isEmpty(reportUser)}">
                    <div class="mainbox" th:each="report:${reportUser}">
                        <a href="/write/getWritedPage?postId=<%= post.postId %>">
                            <div class="mypost">
                                <div th:text="${report.parentReportType}"></div>
                                <p th:text="${report.parentReportContent}"></p>
                                <p th:text="${#dates.format(report.parentReportRegisterDate,'yyyy-MM-dd HH:mm:ss')}"></p>
                            </div>
                        </a>
                    </div>
                </div>
                <p th:if="${#lists.isEmpty(reportUser)}">저장한 게시글이 아직 없습니다.</p>
            </div>
        </div>
    </div>

<div id="footer" th:replace="~{/layout/footer :: footer}"></div>
</body>

</html>