<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/myPage/parent/mypage_payment.css">
    <link rel="stylesheet" href="/css/layout/header.css">
    <link rel="stylesheet" href="/css/layout/footer.css">
    <link rel="stylesheet" href="/css/modal/modalstyle.css" />
    <link rel="stylesheet" href="/css/modal/letter.css" />
    <script src="/js/mail.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>iDollbom_마이페이지</title>
</head>

<body>
<div id="header" th:replace="~{/layout/header_parents :: header_parents}"></div>

<div class="container">
        <div class="inincontainer">
            <div class="mypage-main">마이페이지 > 결제 내역</div>
            <!-- 사이드바 -->
            <div class="incontainer">
                <div class="menu-bar">
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/kids}">아이정보 추가</a>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_correction.html">내정보 수정</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/reportPage}">신고 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_myFavoriteClass.html">수업찜 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myPost}">내가쓴 게시글</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/askPage}">내 문의</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/Review}">내 리뷰</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_Payment copy.html">결제 내역</a>
                    </div>
                    <div class="menu-bar-option">
                        <p>쪽지함</p>
                    </div>
                    <!-- 프로필 -->
                    <div class="myprofile">
                        <div class="profileimage">
                            <img src="../../images/ff581d78778b7.png" alt="profileImage" class="img">
                        </div>
                        <div class="Nickname">
                            닉네임
                        </div>
                        <div class="buttonbox">
                            <a href="#">
                                <button class="btn-block" type="button">로그아웃</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 쪽지함 -->
                <div class="mainbox">
                    <div class="payment_container ">
                        <h1>쪽지목록</h1>
                        <table class="payment-table">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>강사 이름</th>
                                    <th>쪽지 내용</th>
                                    <th>전송 날짜</th>
                                </tr>
                            </thead>
                            <tbody th:if="${not #lists.isEmpty(myNotes)}" >
                            <tr th:each="note, stat : ${myNotes}" th:value="${note.parentNoteNumber}" class="mail"
                                th:data-mail-number="${note.parentNoteNumber}" onclick="openModal(this)">

                                    <td th:text="${stat.count}"></td>
                                    <td th:text="${note.proName}"></td>
                                    <td th:text="${note.parentNoteContent}"></td>
                                    <td th:text="${#temporals.format(note.parentNoteSendTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <div class="modal" >
                        <div class="modal-body profile-body">
                            <div class="header">
                                <img class="img" src="/images/logo.png" alt="로고">
                                <h3 id="title">쪽지 보기</h3>
                                <button id="close-btn"><img class="x-btn" src="/images/closebtn.png" alt="닫기버튼"></button>
                            </div>
                            <div class="mb-3">
                                <label for="parent" class="form-label">강사</label>
                                <input type="parent" id="parent" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="textarea" class="form-label">내용</label>
                                <textarea id="textarea" class="form-control" placeholder="수업 후기를 작성해주세요." rows="6"
                                          maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

<div id="footer" th:replace="~{/layout/footer :: footer}"></div>

</body>

</html>