<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mypage/mypage_myKids.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <!-- 공통으로 들어가는 css는 한번에 묶어둠 -->
    <link rel="stylesheet" th:href="@{/css/modal/modalstyle.css}">
    <link rel="stylesheet" th:href="@{/css/modal/childInfo.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>iDollbom_마이페이지</title>
</head>

<body>
    <header id="header">
        <div class="header_wrap">
            <h1><a href="/html/main/index_parents.html"><img src="../../images/logo.png" alt="IDOLL봄"></a></h1>

            <nav>
                <ul class="gnb">
                    <li>
                        <a href="/html/main/index_parents.html">부모님</a>
                        <ul>
                            <li><a href="/html/matching.html">매칭</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../../html/main/index_pro.html">전문가</a>
                    </li>
                    <li>
                        <a href="../../html/class_list.html">신청하기</a>
                        <ul>
                            <li><a href="#">돌봄</a></li>
                            <li><a href="#">교육</a></li>
                            <li><a href="#">운동</a></li>
                            <li><a href="#">예능</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../../html/community_parent.html">커뮤니티</a>
                        <ul>
                            <li><a href="../../html/community_parent.html">자유게시판</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../../html/notice.html">고객센터</a>
                        <ul>
                            <li><a href="../../html/question.html">문의하기</a></li>
                            <li><a href="../../html/notice.html">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="side">
                <p><button onclick="window.location='../mypage/mypage_mail.html'"><img src="../../images/Alarm.png"
                            alt="알림"></button></p>
                <p><a href="../../html/mypage/mypage_correction.html">마이페이지</a></p>
                <p><a href="../../html/login/loginpage.html">로그인 /</a></p>
                <p><a href="../../html/login/registerpage.html">회원가입</a></p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="inincontainer">
            <div class="mypage-main">마이페이지 > 아이정보 추가</div>
            <!-- 사이드바 -->
            <div class="incontainer">
                <div class="menu-bar">
                    <div class="menu-bar-option">
                        <p>아이정보 추가</p>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_correction.html">내정보 수정</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/reportPage}">신고 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_myFavoriteClass.html">수업찜 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myPost}">내가쓴 게시글</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/askPage}">내 문의</a>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_myrReview.html">내 리뷰</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_Payment copy.html">결제 내역</a>
                    </div>
                    <div class="menu-bar-option">
                        <a href="../../html/mypage/mypage_mail.html">쪽지함</a>
                    </div>
                    <hr class="custom-hr">
                    <!-- 프로필 -->
                    <div class="myprofile">
                        <div class="profileimage">
                            <img src="../../images/ff581d78778b7.png" alt="profileImage" class="img">
                        </div>
                        <div class="Nickname">
                            닉네임
                        </div>
                        <div class="buttonbox">
                            <a href="#">
                                <button class="btn-block" type="button">로그아웃</button>
                            </a>
                        </div>

                    </div>
                </div>
<!--             아이 한명도 없을때 보여줄것-->
                <div class="mainbox" th:if="${#lists.isEmpty(kids)}">
                    <div>
                        <img src="/images/logo 3.png" alt="로고">
                        <p class="kidbold">등록된 아이가 없어요.</p>
                        <p>아이정보를 추가해 주세요</p>
                        <button class="insertKids btn-open-modal">아이정보 추가</button>
                    </div>
                </div>
                <!-- 아이 등록 후에 페이지 -->
                <div class="mykids" th:if="${not #lists.isEmpty(kids)}">
                    <div class="mykids-all">
                        <div class="info-box" th:each="kid : ${kids}">
                            <div>
                                <div class="action-form">
                                    <div class="actions">
                                        <button class="insertKids updateBt btn-update-modal" th:data-kid-number="${kid.childNumber}">수정</button>
                                        <button class="insertKids delete-button" th:data-kid-number="${kid.childNumber}">삭제</button>
                                    </div>
                                </div>
                                <div class="kids">
                                    <div>
                                        <h2 th:text="${kid.childName}">강민정</h2>
                                        <p ><strong th:text="${kid.childAge}">나이:</strong>세</p>
                                        <p th:text="${kid.childSpecialIssues}">아이가 좀 산만한 편입니다.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="insertKid">
                            <button class="insertKids2 btn-open-modal">아이정보 추가</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 아이 정보 추가 모달창 -->
            <form th:action="@{/ParentMyPage/insertKids}" method="post" th:object="${kid}">
                <div class="modal">
                    <div class="modal-body profile-body">
                        <div class="header">
                            <img class="img" src="/images/logo.png" alt="로고">
                            <h3 id="kidtitle">아이 정보 추가</h3>
                            <b class="close-btnen"><img class="x-btn" src="/images/closebtn.png"
                                    alt="닫기버튼"></b>
                        </div>
                        <div class="input-wrap">
                            <labele for="name" class="form" >이름</labele>
                            <input id="name" type="text" class="form-control" placeholder="김돌봄" th:field="*{childName}">
                        </div>
                        <!-- 오늘 날짜 이후에 대한 거 막아줘도 좋을듯 -->
                        <div class="input-wrap">
                            <label for="birthday" class="form">생년월일</label>
                            <input id="birthday" type="date" class="form-control" th:field="*{childAge}">
                        </div>
                        <div class="input-wrap">
                            <div class="input-wrap">
                                <label class="form">성별</label>
                                <input type="radio" id="kidmale" name="childGender"  th:field="*{childGender}"  th:value="'남자'" class="radio">
                                <label for="kidmale">남자 아이</label>
                                <input type="radio" id="kidfemale" name="childGender" th:value="'여자'"  th:field="*{childGender}" class="radio">
                                <label for="kidfemale">여자 아이</label>
                            </div>

                        </div>
                        <!-- 글자 수 제한 하는 거 보여줘도 좋을듯 -->
                        <div class="input-wrap introduce">
                            <label  class="form">아이 소개</label>
                            <textarea id="textarea" class="form-control" placeholder="아이에 대해 소개해주세요." rows="6"
                                      maxlength="500" th:field="*{childSpecialIssues}"></textarea>
                        </div>
                        <div class=" modal-btn" >
                            <div class="close-btn btn">취소하기</div>
                            <button class="add-btn btn" type="submit">추가하기</button>
                        </div>
                    </div>
                </div>
            </form>

<!--         아이정보 수정 모달창-->
            <form method="post" id="update-form">
                <input name="childNumber" id="childNumber" type="hidden" >
                <input name="parentNumber" id="parentNumber" type="hidden">
                <div class="modal2">
                    <div class="modal2-body profile-body">
                        <div class="header">
                            <img class="img" src="/images/logo.png" alt="로고">
                            <h3 id="title">아이 정보 추가</h3>
                            <b class="close-btnen2"><img class="x-btn" src="/images/closebtn.png"
                                                   alt="닫기버튼"></b>
                        </div>
                        <div class="input-wrap">
                            <labele for="Kidname" class="form" >이름</labele>
                            <input name="childName" id="Kidname" type="text" class="form-control" placeholder="김돌봄" >
                        </div>
                        <!-- 오늘 날짜 이후에 대한 거 막아줘도 좋을듯 -->
                        <div class="input-wrap">
                            <label for="Kidbirthday" class="form">생년월일</label>
                            <input name="childAge" id="Kidbirthday" type="date" class="form-control">
                        </div>
                        <div class="input-wrap">
                            <label class="form">성별</label>
                            <input type="radio" id="male" name="childGender"  class="radio" value="남자" >
                            <label for="male">남자 아이</label>
                            <input type="radio" id="female" name="childGender"  class="radio" value="여자">
                            <label for="female">여자 아이</label>
                        </div>
                        <!-- 글자 수 제한 하는 거 보여줘도 좋을듯 -->
                        <div class="input-wrap introduce">
                            <label  class="form">아이 소개</label>
                            <textarea name=" childSpecialIssues" id="Kidtextarea" class="form-control" placeholder="아이에 대해 소개해주세요." rows="6"
                                      maxlength="500" ></textarea>
                        </div>
                        <div class=" modal2-btn" >
                            <div class="close-btn btn cancle">취소하기</div>
                            <button class="add-btn btn" type="submit" >추가하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer id="footer">
        <div class="footer_wrap">
            <img src="../images/footer_logo.png" alt="IDOLL봄">

            <div>
                <div>
                    <p>사업자등록번호 779-81-00425</p>
                    <p>통신판매업신고 2021-서울강남04707</p>
                </div>
                <address><b>본사</b> : 서울특별시 강남구 테헤란로 152 강남파이낸스센터빌딩 40층 자란다</address>
                <div>
                    <p>(주)자란다 대표 김성환</p>
                    <p>개인정보보호책임자 김택주</p>
                </div>
            </div>

            <div>
                <ul>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">고객지원</a></li>
                    <li><a href="#">운영관리방침</a></li>
                    <li><a href="#">이메일주소</a></li>
                </ul>
                <ul>
                    <li><a href="https://blog.naver.com/jaranblog" target="_blank"><img
                                src="../../images/footer_social_blog.png" alt="블로그 바로가기"></a></li>
                    <li><a href="https://www.instagram.com/jaranda__official" target="_blank"><img
                                src="../../images/footer_social_insta.png" alt="인스타그램 바로가기"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCTXkxn1OlVvljxEe-hbd3Vg" target="_blank"><img
                                src="../../images/footer_social_youtube.png" alt="유튜브 바로가기"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="/js/modal.js"></script>
<script src="/js/kids.js"></script>
</html>