<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/layout/header.css">
    <title>IDOLL봄</title>
</head>

<body>
<header id="header">
    <div class="header_wrap">
        <h1><a th:href="@{/pro/index}"><img src="../images/logo.png" alt="IDOLL봄"></a></h1>

        <nav>
            <ul class="gnb">
                <li>
                    <a th:href="@{/pro/registerForm}">수업등록</a>
                </li>
                <li>
                    <a th:href="@{/pro/childfind}">아이찾기</a>
                </li>
                <li>
                    <a href="#">신청하기</a>
                </li>
                <li>
                    <a href="#">공지사항</a>
                </li>
            </ul>
        </nav>
        <div class="side">
            <p><button><img src="../images/Alarm.png" alt="알림"></button></p>
            <p><a href="#">마이페이지</a></p>
            <p><a href="#">로그인 /</a></p>
            <p><a href="#">회원가입</a></p>
        </div>
    </div>
</header>
</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>

</html>