<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/layout/header.css">
    <title>IDOLL봄</title>
</head>

<body>
    <header id="header" th:fragment="header_pro">
        <div class="header_wrap">
            <h1><a href="../html/main/index_pro.html"><img src="../images/logo.png" alt="IDOLL봄"></a></h1>

            <nav>
                <ul class="gnb">
                    <li>
                        <a href="#">수업등록</a>
                    </li>
                    <li>
                        <a href="#">아이찾기</a>
                    </li>
                    <li>
                        <a href="#">신청하기</a>
                    </li>
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                </ul>
            </nav>
            <div class="side">
                <p><button><img src="../images/Alarm.png" alt="알림"></button></p>
                <p><a href="#">마이페이지</a></p>
                <p><a href="#">로그인 /</a></p>
                <p><a href="#">회원가입</a></p>
            </div>
        </div>
    </header>
</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>

</html>