<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/pro/childfind.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <!-- 모달창 css -->
    <link rel="stylesheet" th:href="@{/css/modal/modalstyle.css}">
    <link rel="stylesheet" th:href="@{/css/modal/letter.css}">

    <title>아이찾기 페이지</title>
</head>

<body>
<!-- 헤더 -->
<div th:replace="~{/layout/header_pro :: #header}"></div>

<!-- 아이찾기 화면 -->
<div id="container">
    <div class="findchild-container">
        <p class="findchild-text">아이 찾기</p>
    </div>

    <!-- 아이찾기 메인 -->
    <table>
        <thead>
        <tr>
            <th>수업명</th>
            <th>부모 이름</th>
            <th>아이 이름</th>
            <th>아이 나이</th>
            <th>아이 성별</th>
            <th>아이 특이사항</th>
            <th>쪽지</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="classList : ${classLists}">
                <td th:text="${class.className}">놀이터</td>
                <td>이지은</td>
                <td>김지수</td>
                <td>3세</td>
                <td>여</td>
                <td>주의 산만</td>
                <td><button class="btn-open-modal"><img src="../images/Alarm.png" alt="쪽지"></button></td>
            </tr>
            <tr>
                <td>놀이터</td>
                <td>이지은</td>
                <td>김지수</td>
                <td>3세</td>
                <td>여</td>
                <td>주의 산만</td>
                <td><button class="btn-open-modal"><img src="../images/Alarm.png" alt="쪽지"></button></td>
            </tr>

        </tbody>
    </table>
    <!-- 페이지 메뉴바  -->
    <div class="pagination">
        <!-- &laquo는 이전페이지 이동 -->
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <!-- &raquo는 다음페이지로 이동 -->
        <a href="#">&raquo;</a>
    </div>
    <!-- 쪽지보내기 모달창 -->
    <form action="#" method="get">
        <div class="modal">
            <div class="modal-body profile-body">
                <div class="header">
                    <img class="img" src="../images/logo.png" alt="로고">
                    <h3 id="title">쪽지 보내기</h3>
                    <button id="close-btn"><img class="x-btn" src="../images/closebtn.png" alt="닫기버튼"></button>
                </div>
                <div class="mb-3">
                    <label for="parent" class="form-label">부모님</label>
                    <input type="parent" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label for="textarea" class="form-label">내용</label>
                    <textarea id="textarea" class="form-control" placeholder="수업 후기를 작성해주세요." rows="6"
                              maxlength="500"></textarea>
                </div>

                <div class="modal-btn">
                    <!-- 추가하기를 누르면 새로운 페이지로 이동 -->
                    <button class="close-btn btn">취소하기</button>
                    <button class="add-btn btn" type="submit">보내기</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- 푸터 -->
<div th:replace="~{/layout/footer :: #footer}"></div>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/modal.js}"></script>
</body>

</html>