<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/layout/header.css}" />
  <link rel="stylesheet" th:href="@{/css/layout/footer.css}" />
  <link rel="stylesheet" th:href="@{/css/parent/studyDetail.css}" />
  <title>수업 상세보기 페이지(부모)</title>
</head>

<body>
  <!-- 헤더 -->
  <div th:replace="~{/layout/header_parents :: header_parents}"></div>

  <!-- 수업 상세보기 페이지 -->
  <div id="main-wrapper">
    <!-- 왼쪽 수업 상세정보 영역 -->
    <div class="detail-left-area">
      <div id="top">이동버튼 도착지</div>
      <!-- 이미지 슬라이드 -->
      <div class="carousel-container">
        <ul class="slider-box">
          <li class="slider-item">
            <img th:src="@{/image/index_pro_find.jpg}" alt="slider-img4" />
          </li>
          <li class="slider-item">
            <img th:src="@{/image/a4c03f0c5f8fc.png}" alt="slider-img1" />
          </li>
          <li class="slider-item">
            <img th:src="@{/image/cb157270a5310.jpeg}" alt="slider-img2" />
          </li>
          <li class="slider-item">
            <img th:src="@{/image/index_matching.jpg}" alt="slider-img3" />
          </li>
        </ul>
        <button class="left slider-btn"><</button>
        <button class="right slider-btn">></button>
      </div>

      <!-- 카테고리 태그 -->
      <div class="category-tag-wrap">
        <h1>카테고리 분류</h1>
        <div>
          <!-- 카테고리(대) -->
          <p th:text="${class_info.classCategoryBig}">돌봄</p>
          <!-- 카테고리(소) -->
          <p th:text="${class_info.classCategorySmall}">등/하원 도움</p>
        </div>
      </div>

      <!-- 수업 상세정보 영역 ( 이미지, 내용 ) -->
      <section class="study-detail-info">
        <!-- 이미지 -->
        <div class="content-img-wrap">
          <img src="../../../static/image/content-img1.jpg" alt="content-img1" />
        </div>

        <!-- 내용 -->
        <p class="study-content">
          우리 아이에게 1:1 맞춤으로 선생님이 찾아가는 서비스!! <br />
          아이의 레벨과 속도에 맞춰 집중력을 최대치로!!
        </p>

        <!-- 이미지 -->
        <div class="content-img-wrap">
          <img src="../../../static/image/content-img2.jpg" alt="content-img1" />
        </div>

        <!-- 내용 -->
        <p class="study-content">
          경제적인 부분까지 해결해준다!! <br />
          합리적인 비용으로 긴 시간을 수업을 들으실 수 있고, 기존 수업비 대비 30% 할인된 가격 제공!!
        </p>

        <!-- 이미지 -->
        <div class="content-img-wrap">
          <img src="../../../static/image/content-img3.jpg" alt="content-img1" />
        </div>

        <!-- 내용 -->
        <p class="study-content">
          돌봄과 배움을 한 번에!!<br />
          놀이부터 숙제, 공부까지 아이에게 정말로 도움이 되는 시간들!!
        </p>

        <!-- 버튼 클릭 전까지는 숨김 -->
        <div class="hidden-content">
          <!-- 이미지 -->
          <div class="content-img-wrap">
            <img src="../../../static/image/content-img3.jpg" alt="content-img1" />
          </div>

          <!-- 내용 -->
          <p class="study-content">
            돌봄과 배움을 한 번에!!<br />
            놀이부터 숙제, 공부까지 아이에게 정말로 도움이 되는 시간들!!
          </p>

          <!-- 이미지 -->
          <div class="content-img-wrap">
            <img src="../../../static/image/content-img2.jpg" alt="content-img2" />
          </div>
          <!-- 내용 -->
          <p class="study-content">
            돌봄과 배움을 한 번에!!<br />
            놀이부터 숙제, 공부까지 아이에게 정말로 도움이 되는 시간들!!
          </p>
        </div>

        <!-- js가 적용된 태그 -->
        <button class="study-more-btn">
          <span>수업 더 보기</span>
          <i class="fa-solid fa-angle-down open-btn"></i>
          <i class="fa-solid fa-angle-up close-btn"></i>
        </button>

      </section>
    </div>

    <!-- 오른쪽 필수정보 영역 -->
    <div class="detail-right-area" th:object="${class_info}">
      <!-- 강사명 및 프로필 보기 버튼 -->
      <div class="pro-profile-wrap">
        <h1>강사명</h1>
        <p th:text="*{proName}">이근</p>
        <!-- 해당 강사의 프로필 보기 페이지로 넘어갈 때 주소에 넘겨줄 데이터만 작성함. -->
        <!-- 컨트롤러는 만들어지지 않아서 아직 작성하지 않음. -->
        <a th:href="@{/{proNumber}(proNumber=*{proNumber})}">프로필 보기</a>
      </div>

      <!-- 수업 제목 -->
      <div class="study-title-wrap">
        <h1>수업 제목</h1>
        <p th:text="*{className}">여름방학 학습돌봄</p>
      </div>

      <!-- 수업 내용 -->
      <div class="study-content-wrap">
        <h1>수업 내용</h1>
        <p th:text="*{classContent}">방학 숙제나 부족했던 교과 진도 따라잡기, 1시간은 수학, 국어 <br />
          등 아이에게 필요한 수업을 자란다 쌤과 1:1 맞춤으로 학습해요. <br />
          2시간은 아이가 좋아하는 놀이로 충분히 놀면서 학기 중 스트레스
          날리고 학습 효과까지 UP!!
        </p>
      </div>

      <!-- 수업 날짜 및 시간 -->
      <div class="study-date-wrap">
        <h1>수업 날짜 및 시간</h1>
        <span th:text="*{classRegisterDate}">2024-05-25 / 18시</span>
      </div>

      <!-- 결제 금액 -->
      <div class="payAmount-wrap">
        <h1>결제 금액</h1>
        <p th:text="*{classPaymentAccount}">25,000원</p>
      </div>

      <!-- 수업 결제, 수업 찜하기 버튼 -->
      <div class="payment-button-wrap">
        <a href="#">수업 결제하기</a>
        <a th:href="@{/ParentMyPage/favoriteClass(classNumber=${class_info.classNumber}, parentNumber=${class_info.parentNumber})}">
          수업 찜하기
        </a>
      </div>

    </div>
  </div>

  <!-- top 이동 버튼 -->
  <a class="move-to-top" href="#top"><i class="fa-solid fa-angles-up"></i></a>

  <!-- 푸터 -->
  <div th:replace="~{/layout/footer :: footer}"></div>

  <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
  <!-- fontawesome 아이콘 -->
  <script src="https://kit.fontawesome.com/96adc9c597.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/motion.js}"></script>
  <script th:src="@{/js/studyDetail.js}"></script>
</body>

</html>