<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/modal/modalstyle.css" />
    <link rel="stylesheet" href="../../../static/css/modal/letter.css" />
    <title>쪽지 보내기</title>
</head>

<body>
    <form action="#" method="get">
        <div class="modal">
            <div class="modal-body profile-body">
                <div class="header">
                    <img class="img" src="/images/logo.png" alt="로고">
                    <h3 id="title">쪽지 보내기</h3>
                    <button id="close-btn"><img class="x-btn" src="/images/closebtn.png" alt="닫기버튼"></button>
                </div>
                <div class="mb-3">
                    <label for="parent" class="form-label">부모님</label>
                    <input type="parent" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label for="textarea" class="form-label">내용</label>
                    <textarea id="textarea" class="form-control" placeholder="수업 후기를 작성해주세요." rows="6"
                        maxlength="500"></textarea>
                </div>

                <div class="modal-btn">
                    <!-- 추가하기를 누르면 새로운 페이지로 이동 -->
                    <button class="close-btn btn">취소하기</button>
                    <button class="add-btn btn" type="submit">보내기</button>
                </div>
            </div>
        </div>
    </form>
    <button class="btn-open-modal">쪽지 보내기</button>
    <script src="../../../static/js/modal.js"></script>
</body>

</html>