<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.myPagemapper.parentmapper.classSaveMapper">
    <select id="selectAll">
        SELECT *
        FROM class_save cv
                 JOIN class cl ON cv.class_number = cl.class_number
                 JOIN img im ON im.class_number = cv.class_number
        WHERE cv.parent_number = #{parentNumber};
    </select>

    <!-- 수업 찜목록 추가 -->
    <insert id="insertClass">
        INSERT INTO CLASS_SAVE (CLASS_NUMBER, PARENT_NUMBER)
        VALUES(#{classNumber}, #{parentNumber});
    </insert>
</mapper>