<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.myPagemapper.parentmapper.noteMapper">
    <select id="selectNoteById">
        select *
        from parent_note pn
                 join pro pr on pn.pro_number = pr.pro_number
        where parent_number = #{parentNumber}
    </select>

    <select id="selectNoteByNoteId">
        select *
        from parent_note pn join pro pr on pn.pro_number = pr.pro_number
        where parent_note_number = #{parentNoteNumber}
    </select>

</mapper>
