<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.loginmapper.ParentMapper">

<!--    회원 가입   -->
    <insert id="insert" parameterType="ParentVO">
        insert into parent (
        PARENT_NUMBER,
        PARENT_EMAIL,
        PARENT_PASSWORD,
        PARENT_NAME,
        PARENT_NICKNAME,
        PARENT_PHONE_NUMBER,
        PARENT_ADDRESS)
        values (seq_project.NEXTVAL,#{parentEmail}, #{parentPassword}, #{parentName}, #{parentNickname}, #{parentPhoneNumber}, #{parentAddress})
    </insert>


    <!--    로그인    -->
    <select id="selectOne" parameterType="string">
        select * from parent
        where parent_email = #{parentEmail}
    </select>

    <update id="updateInfo">
        update parent
        set parent_password=#{parentPassword}, parent_name=#{parentName}, parent_phone_number=#{parentPhoneNumber},parent_address = #{parentAddress},parent_profile_image_url=#{parentProfileImageUrl},
            parent_nickname=#{parentNickName}
        where parent_number =#{parentNumber}
    </update>

</mapper>